<!DOCTYPE html>
<head>
  <title>Quiz Site</title>
  <meta charset = "utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <header>
  </header>
  <nav>
    <% if Helper.is_teacher?(session) %>
      <% teacher = Helper.current_teacher(session) %>
      <a href="/teacher/<%= teacher.slug %>"><button class="nav_button">My Page</button></a>
      <a href="/teacher/<%= teacher.slug %>/question"><button class="nav_button">My Questions</button></a>
      <a href="/student"><button class="nav_button">All Students</button></a>
    <% elsif Helper.is_student?(session) %>
      <% student = Helper.current_student(session) %>
      <a href="/student/<%= student.slug %>"><button class="nav_button">My Page</button></a>
    <% else %>
      <a href="/student/login"><button class="nav_button">Student Login</button></a>
      <a href="/teacher/login"><button class="nav_button">Teacher Login</button></a>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
